*{
    margin: 0px;
    padding: 0px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.1);
    /* width: 1920px; */
    height: 850px;
    /* flex-shrink: 0; */
    /* margin: 50px; */
    padding: 50px;
}
.btn-banner{
    display: inline-flex;
    padding: 10px 23px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px  #000;
    background: #E55473;
    color: #D9D9D9;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-pic{
    /* width: 635px;
    height: 800px; */
    /* flex-shrink: 0; */
}
.banner-heading{
    margin-bottom: 15px;
}
.banner-des{
    margin-bottom:15px;
}

.feature-flower-headline{
    margin: auto;
    width: 50%;
    padding: 20px;

}
.feature-heading{
    margin: auto;
    width: 50%;
}
.feature-flower-para{
    margin: 15px;
}

.feature-image{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 850px;
}
.pink-flower-one{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    position: relative;

}
.pink-flower-two{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    position: relative;
}
.pink-flower-three{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    position: relative;
}
.feature-figure-one{
    position: absolute;
    left: 20%;
    bottom: 0;
    margin: auto;
    /* display: block; */
    /* width: 310px;
    height: 428px;
    flex-shrink: 0; */
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.feature-image-two{
    position: absolute;
    left: 20%;
    bottom: 0px;
    margin: auto;
}
.feature-image-three{
    position: absolute;
    left: 20%;
    bottom: 0;
    margin: auto;
}

.feature-image-one{
    width: 310px;
    height: 428px;
}

.hot-deal{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
}
.offer{

    padding: 20px;
    margin: auto;
    width: 50%;
}
.hot-deal-heading{
    padding: 25px;
}
.sign-btn-hot-deal{
    margin: auto;
    width: 70%;
    /* padding: 10px; */
    padding-top: 25px;
}
.btn-hot-deal{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 1px  #000;
}
#hot-deal-offer-span{
    color: #E55473;
}
.hot-deal-pic{
    width: 318px;
    height: 420px;
    flex-shrink: 0;
}

.instagram-image{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 396px;
    flex-shrink: 0;
    padding: 50px;
    
}

.instagram-headline{
    margin: auto;
    width: 50%;
    padding: 50px;

}
.instagram-heading{
    margin: auto;
    width: 50%;
    padding: 30px;
}
.instagram-flower-para{
    margin: 25px;
}

.get-link{
    /* width: 1440px; */
    height: 449px;
    flex-shrink: 0;
    margin: 50px;
    border-radius: 8px;
    background: url("./Flower Asset/Rectangle\ 9.png"), lightgray 0px -203.444px / 100% 213.755% no-repeat;
}
.link-heading{
    margin: auto;
    width: 30%;
    padding-top: 100px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.link-para{
    margin: auto;
    width: 25%;
    padding-top: 30px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

}
.link{
    margin: auto;
    width: 90%;
    padding-top: 20px;
}
.link-input{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 1px  #000;

}
.btn-link{
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px  #000;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer{
    /* margin: auto; */
    /* height: 50%; */
    height: 449px;
    flex-shrink: 0;
    background: #111010;
    text-align: center;
}
.footer-heading{

    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-top: 50px;
    padding-top: 70px;
}
.footer-span{
    color: #FFF;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.footer-para{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.footer-small-para{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.footer-small-p{
    text-align: center;
}
.footer-contact{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-top: 50px;
    padding-top: 70px;
}
.footer-contact-heading{
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
}